<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ek.mobilebapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <!--
        <provider
            android:name="com.ek.mobileapp.dao.DataProvider"
            android:authorities="com.eksoft.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
    -->
</manifest>